
.nav-link:hover {
  color: rgb(84, 242, 129) !important;
}
.logo {
  mix-blend-mode: lighten;
}

.list {
  gap: 3cm;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
  
}
.info {
  padding-left: 80px;
  position: relative;
  top: 250px;
}
.lorem {
  text-align: justify;
}
H5 {
  font-family: "Hind Siliguri", sans-serif;
}
@media screen and (max-width:991px){
  .info{
    position: relative;
    top: 45px;
    right: 55px;
    z-index: 1;
  }
  .list{
    font-size: x-large;
    position:absolute;
    top: 100%;
    left: 0;
    background-color: rgb(41, 49, 49,0.9);
    width: 100%;
    height: calc(100vh - 100%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
} 